header-component {
  display: grid;
  background-color: #004da8;
  align-self: center;
  min-height: 100px !important;
  border: black solid 2px;
}

aside-component {
  background-color: #ffc628;
  border: black solid 2px;
}

.header-navigation,
.aside-navigation {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  font-size: 13px;
  display: flex;
  font-weight: bold;
  text-size-adjust: auto;
  justify-content: space-around;
}

aside-component img {
  width: 20px;
  padding-right: 5px;
  /*transform: translateY(20%);*/
  filter: brightness(80%);
  border-radius: 40px 70px 70px 40px;
}

nav {
  margin-left: 0px;
}

.header-navigation {
  flex-direction: row;
  margin: 10px;
}

.club-name {
  margin-left: 0;
  background-color: #004da8;
  border: 2px solid white;
  padding: 5px;
  text-transform: uppercase;
  transform:translateY(25%);
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: 2px;
  min-width: 150px;
}

.aside-navigation {
  top: 25px;
  flex-direction: column;
  padding-left: 0px;
  position: relative;
}

.nav-item {
  position: relative;
  letter-spacing: 1px;
  top: 25px;
}

.aside-navigation .nav-item {
  padding-bottom: 30px;
  margin-left: 10px;
}

.header-navigation .nav-item {
  margin-left: 70px;
  list-style-type: none;
  color: black;
  border-color: black;
}

.header-navigation .nav-item .sub-nav-items {
  transform: translateY(25);
}

.aside-navigation .nav-item .sub-nav-items {
  transform: translateY(30%);
}

.nav-item:hover a {
  color: #004da8;
}

.header-navigation .nav-item:hover a{
  color:black;
}

.header-navigation .nav-item:hover .sub-nav-items .sub-item {
  background-color: #004da8;
  width: 125px;
  border: 2px solid black;
  padding: 2px;
}

.nav-item:hover .sub-nav-items .sub-item a {
  color: black;
}

.sub-nav-items {
  list-style-type: none;
  position: absolute;
  top: 25px;
  font-size: 12px;
}

.header-navigation .sub-nav-items{
  display: none;
}
.sub-nav-items li {
  width: 130px;
  padding-top: 10px;
}

.header-navigation .nav-item .sub-nav-items {
  left: 0px;
  top: 25px;
  padding-left: 0px;
}


.nav-item .sub-nav-items .sub-item:hover a {
  color: white;

}

.nav-item:hover .sub-nav-items {
  display: block;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

.aside-navigation a:link {
  color:black;
}

.aside-navigation a:visited {
  color: black;
}