/* --- GLOBAL CSS --- */

* {
  margin: 0;
  padding: 0;
}

/* CSS for html */
html {
  height: 100%;
  min-width: 710px;
  overflow: auto;
  font-size: 16px;
  font-family: "Tahoma", "Courier New", sans-serif;
}

body {
  height: 100%;

  overflow: auto;

  font-family: "Lucida Console", "Courier New", monospace;

  display: grid;
  grid-template-rows: 10vh 87vh 3vh;
  grid-template-columns: 1.5fr 8.5fr;

  /*BACKGROUND COLOR TO SHOW WHERE THIS IS LOCATED ON PAGE*/
  background-color: blue;
}

/* CSS for header (top navigation bar) */
header-component {
  grid-column: 1/3;
  grid-row: 1/2;

  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 2vw;

  /*BACKGROUND COLOR TO SHOW WHERE THIS IS LOCATED ON PAGE*/
  background-color: pink;
}

/* Below is from foundation.css */

aside-component {
  grid-column: 1/2;
  grid-row: 2/3;

  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 2vw;

  /* BACKGROUND COLOR TO SHOW WHERE THIS IS LOCATED ON PAGE */
  background-color: greenyellow;
}

/* CSS for footer */
footer-component {
  grid-column: 1/3;
  grid-row: 3/4;

  background-color: rgb(34, 35, 60);
}

/* CSS for main (contains page body and inner page body) */
main {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 100%;
  width: 100%;

  overflow: auto;

  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 2vw;

  /*BACKGROUND COLOR TO SHOW WHERE THIS IS LOCATED ON PAGE*/
  background-color: aqua;
}

/* CSS for page-body (contains inner page body; allows a margin to be introduced without buggy scrollbars) */
#page-body {
  min-height: 100%;
  width: 100%;
  display: grid;

  grid-template-rows: 1fr 24fr 1fr;
  grid-template-columns: 1fr 19fr 1fr;
}

/* CSS for inner page body (This is the part where all the content is placed) */
#inner-page-body {
  grid-column: 2/3;
  grid-row: 2/3;

  display: flex;
  flex-direction: column;
  height: fit-content;

  padding: 3%;

  font-family: "Tahoma", "Courier New", sans-serif;
  font-size: 2vw;

  /* BACKGROUND COLOR TO SHOW WHERE THIS IS LOCATED ON PAGE */
  background-color: white;
}

/* Below is from navigation.css */

header-component {
  background-color: lightgray;
}

aside-component {
  background-color: darkgray;
}

.header-navigation,
.aside-navigation {
  list-style-type: none;
  display: flex;
  font-weight: bold;
  margin: 10px;
  padding: 15px;
  border: 5px, solid;
  color: black;
  text-size-adjust: auto;
  flex-wrap: wrap;
}

.header-navigation {
  flex-direction: row;
  justify-content: space-around;
}

.club-name {
  background-color: aqua;
  outline: 2px solid black;
  outline-offset: 1px;
}

.aside-navigation {
  flex-direction: column;
  gap: 4rem;
  margin-top: 20px;
  margin-right: auto;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: aqua;
}

/* Below is from Fran's css for home */

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-container {
  height: auto;
  width: 98%;
  margin: 2rem auto;
}

.title-img {
  width: 80%;
  height: auto;
  margin: auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.about {
  margin: auto;
  margin-top: 2rem !important;
  width: 90%;
}

img {
  width: 95%;
  height: 75%;
  border: 2px solid black;
  border-radius: 1%;
}

p {
  font-size: 1.3rem;
}
