body {
    width: 100%;
}

main {
    width: 100%;
}

.page-body {
    width: 100%;
    background: #5f66f6;
}

.inner-page-body {
    box-sizing: border-box;
    color: #E6FAFC;
    width: 100%;
    padding: 2vh;
}

.inner-page-body h1, h2, h3 {
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.inner-page-body h1 {
    font-size: 7vh;
}

.inner-page-body h3 {
    font-size: 5vh;
    text-align: left;
}

.inner-page-body p {
    padding: .5vw 0vw;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3vh;
    text-align: justify;
    text-justify: inter-word;
}

.inner-page-body img {
    width: 20vw;
    height: 20vw;
    float: left;
    margin: 2vh 2vh 0vh 0vh;
    border: white dashed 2px;
}

.inner-page-body a {
    color: rgb(11, 11, 11);
    display: inline-block;
    padding: .75vw;
    text-decoration: none;
    border-radius: 10px;
    background-color: #E6FAFC;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin: .5vh .2vw 0 0;
    font-size: 2.5vh;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.inner-page-body a:hover {
    color: rgb(11, 11, 11);
    background: #C8FFBE; 
}

#about-links {
    display: flex;
    justify-content: center;
}

#about-links a {
    margin: 1vh;
}

a:visited {
    color: rgb(57, 57, 57);
}

@media (max-width: 768px) {
    img {
        float: none;
        width: 50vw;
        height: 50vw;
        display: block;
        margin: 4vh auto 4vh auto;
    }
}