main {
    background: linear-gradient(to right, darkgray, lightgray);
}

.page-body {
    width: 100%;
    background: #5f66f6;
    border-radius: 10px;
}

.inner-page-body {
    color: #E6FAFC;
    width: 100%;
    height: 80vh;
    overflow: scroll;
    border-radius: 10px;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h1 {
    background: rgb(252, 227, 4);
    color: #000;
    margin-top: 2vh;
    border-top: 1vh dashed #000;
    border-bottom: 1vh dashed #000;
    font-size: 7vh;
}

h3 {
    padding: 2vh;
    font-size: 4vh;
}

p {
    padding: .5vw 4vw;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3vh;
}

#pic-temp {
    background-color: #E6FAFC;
    color: #000;
    width: 20vw;
    height: 20vw;
    float: left;
    margin: 2vw 2vw 2vw 4vw;
}